---
import '../styles/global.css';
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Webverse - Professional Web Development Agency" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>Webverse</title>
	</head>
	<body class="font-sans text-gray-800 bg-white">
		<slot />
	</body>
</html>
